h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headlines {
    font-size: 20;
}

img {
    width: 25%;
    height: auto;
    padding-right: 20px;
    padding-bottom: 20px;
}

.uppercase {
    text-transform: uppercase;
}