html, body {
    text-align: left;
}
h1 {
    font-family: 'Times New Roman', Times, serif
}
h2 {
    font-family: 'Times New Roman', Times, serif
}
img {
    width: 310px;
    height: auto;
    padding-bottom: 0px;
    align-content: left;
}
div {
    text-align: left;
}