/* default styling */
*, html, body{         
    Font-family: 'Architects Daughter', cursive;
    display: flex grid;
    color: rgb(28, 28, 63);
}
/*navbar*/
ul {
    list-style-type: none;
    text-align: center;
}
li {
    display: inline;
    
    
}
a:link, a:visited {
    color: rgb(156, 28, 19);;
    font-size: 22px;
    text-decoration: none;
    border: solid 2px rgb(156, 28, 19);
    font-variant: small-caps;
    padding-left: 10px; padding-right: 10px;
    font-weight: bold;
    transition: background-color 1s linear;
    
}
a:hover {
    color: white;
    border: solid 4px rgb(28, 28, 63);
    font-size: 32px;
    text-decoration: none;
    background-color: rgb(28, 28, 63);
    
}

/*full container MOBILE*/
#grid-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 11px;
    
    
    color:  rgb(28, 28, 63);
    margin: 1%;
    padding: 1%;
}
.header  {
    grid-column: 1/4;
    grid-row: 1/24;
    overflow: hidden;
    
    background-image: url("https://user-images.githubusercontent.com/72266712/100826499-82a32c00-3428-11eb-8a1a-a6a2e6f1cc41.png");
    background-repeat: no-repeat, repeat;
    background-position: center center;
}
table {
    grid-column: 1/4;
    font-size: 52px;
}

h3 {                                    
    color: rgb(28,28,63);
    font-size: 52px;
    justify-content: center;
    grid-column: 1/4;
    margin: 0;
    padding-bottom: 40px;
   
}


.qas {
    color: rgb(185, 39, 63);
    
}

img {
    float: right;
}


.img {  
    border-radius: 50%;
    width: 220px;
    height: 220px;
}
h6 {        
    font-size: 30px;
    padding: 0;
    margin: 2%;
    
}
.column1 {
    grid-column: 1/2;
}
.column2 {
    grid-column: 2/3;
    align-items: center;
}
.column3 {
    grid-column: 3/4;
}


/*Footer*/
footer {
    grid-column: 1/4;
    background-color: rgb(230, 230, 230);
    font-variant: small-caps;
    text-align: right;
}
.icons {
    width: 30px;
    height: 30px;
    border-radius: 50%;  
    display: inline;
   
}

a.fb, a.tw, a.ig, a.pin, a.elink {
    text-decoration: none;
    border: none;
    
}

#left {
    text-align: left;
    float: left;
}

/*Media Queries*/


@media only screen and (max-width:600px) {
    .grid-container {
       width: 100%;
    }
    .column1, .column2, .column3, .column3content, .menutable, .columnmenu, table, img  {
        grid-column: 1/4;
    }
    .header {
        background-image: url("https://user-images.githubusercontent.com/72266712/100826499-82a32c00-3428-11eb-8a1a-a6a2e6f1cc41.png");
    }
}
@media only screen and (max-width: 600px) {
    .content-container {
      display: block;
    }
  }